/* Variable */
:root {
  --blue: #e40017;
}

.home .intro .img-div:hover{
  border-color: var(--blue);
}

.aside .logo a::before {
  border-top: 4px solid var(--blue);
  border-left: 4px solid var(--blue);
}
.aside .logo a::after {
  border-right: 4px solid var(--blue);
  border-bottom: 4px solid var(--blue);
}

.aside .nav li a:hover,
.aside .nav li a.active,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.about .about-content .about-text h3,
.about .about-content .skills h3,
.contact-text p,
.contact .contact-info-item .icon .fa,
.timeline-text span {
  color: var(--blue);
}

.btn,
.about .about-content .skills .skill-item .progress .progress-in,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.section-title h2::before,
.section-title h2::after,
.home .intro .social-links a {
  background-color: var(--blue);
}

/* form */
#form .input_group input:focus,
#form .input_group select:focus {
  border: 2px solid var(--blue);
}

#form .submit_form:hover{
  color: #fff;
  background-color: var(--blue);
}
